In [101]:
import pandas as pd
df = pd.read_csv("./dataset/dataset.csv")

In [49]:
df.describe().transpose().to_csv("./dataset/feature.csv")

In [61]:
data = pd.read_csv("./dataset/feature.csv")
data

       Unnamed: 0      mean       std  min  25%  50%  75%  max
0             AGE  1.620690  0.613154    1    1    2    2    3
1          GENDER  1.600000  0.491596    1    1    2    2    2
2         HS_TYPE  1.944828  0.537216    1    2    2    2    3
3     SCHOLARSHIP  3.572414  0.805750    1    3    3    4    5
4            WORK  1.662069  0.474644    1    1    2    2    2
5        ACTIVITY  1.600000  0.491596    1    1    2    2    2
6         PARTNER  1.579310  0.495381    1    1    2    2    2
7          SALARY  1.627586  1.020245    1    1    1    2    5
8       TRANSPORT  1.620690  1.061112    1    1    1    2    4
9          LIVING  1.731034  0.783999    1    1    2    2    4
10     MOTHER_EDU  2.282759  1.223062    1    1    2    3    6
11     FATHER_EDU  2.634483  1.147544    1    2    3    3    6
12     #_SIBLINGS  2.806897  1.360640    1    2    3    4    5
13           KIDS  1.172414  0.490816    1    1    1    1    3
14     MOTHER_JOB  2.358621  0.805156    1    2    2    2    5
15     FATHER_JOB  2.806897  1.329664    1    2    3    4    5
16      STUDY_HRS  2.200000  0.917424    1    2    2    3    5
17      READ_FREQ  1.944828  0.562476    1    2    2    2    3
18  READ_FREQ_SCI  2.013793  0.539884    1    2    2    2    3
19    ATTEND_DEPT  1.213793  0.411404    1    1    1    1    2
20         IMPACT  1.206897  0.588035    1    1    1    1    3
21         ATTEND  1.241379  0.429403    1    1    1    1    2
22     PREP_STUDY  1.337931  0.614870    1    1    1    2    3
23      PREP_EXAM  1.165517  0.408483    1    1    1    1    3
24          NOTES  2.544828  0.564940    1    2    3    3    3
25        LISTENS  2.055172  0.674736    1    2    2    3    3
26  LIKES_DISCUSS  2.393103  0.604343    1    2    2    3    3
27      CLASSROOM  1.806897  0.810492    1    1    2    2    3
28       CUML_GPA  3.124138  1.301083    1    2    3    4    5
29        EXP_GPA  2.724138  0.916536    1    2    3    3    4
30      COURSE ID  4.131034  3.260145    1    1    3    7    9
31          GRADE  3.227586  2.197678    0    1    3    5    7